 .u-section-1 {
  min-height: 132px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 130px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 4px 255px 4px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 21px 1px 0;
}

.u-section-1 .u-text-2 {
  margin: 16px 71px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 130px;
  background-image: url("/images/28e164da7e4c4ebb7a93133eb6aeeb8d08a155cb4a3960bfcfdec8d156c1556bd797b9c388a2a757d703bb9efe4f2c9894e349ce8c3c385650e1d1_1280.jpg");
  background-position: 50% 60.56%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 109px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 107px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 155px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 107px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 102px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 82px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 225px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-image-1 {
    min-height: 123px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 179px;
  }

  .u-section-1 .u-image-1 {
    min-height: 77px;
  }
} .u-section-2 {
  background-image: linear-gradient(135deg, black, #b29a36);
  min-height: 434px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 300px;
  --effect-scale: 1.75;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("/images/ok_midi_lounge_max_header2.webp");
  transition-duration: 3s;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  transition-duration: 3s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 94px 13px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 300px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 59px 12px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 17px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 3.875em;
  margin-right: 10px;
  vertical-align: -7px;
  margin-left: 10px;
  width: 62px;
  height: 84px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 3rem;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 8px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  font-size: 1.2917em;
  margin-right: 16px;
  vertical-align: -5px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 373px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 279px;
    background-position: 50% 47.82%;
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-2 .u-btn-1 {
    align-self: center;
  }

  .u-section-2 .u-btn-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 282px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 74px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 233px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 614px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 105px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 52px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 233px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(0.7) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(0.7) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: black;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: dodgerBlue;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3 opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}